[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:rgb(235, 238, 238);
}

.st-cp {
    background-color: rgb(75 174 255);
}

.css-1544g2n {
    padding: 1rem 1rem 1rem;
}

.stSelectbox {
    width: 304px;
    background-color: #90abe5;
    padding: 10px;
}
